*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: roboto, sans-serif;
}
.container{
	margin: 150px auto;
	max-width: 450px;
}
.login{
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	padding: 50px;
}
.hidden{
	display: none;
}
.login__label{
	display: block;
	margin-top: 25px;
	margin-bottom: 5px;
	font-size: 17px;
}
.login__input{
	display: block;
	width: 350px;
	height: 30px;
	outline-style: none;
	border-radius: 5px;
	border: 2px solid darkgrey;
	padding: 5px;
}
.login__row{
	color: red;
	font-size: 15px;
	margin-left: 10px;
	display: none;
}
.wrong{
	display: block;
}
.button{
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
}
.login__button{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #4871e1;
	border-radius: 3px;
	color: white;
	font-size: 17px;
	width: 120px;
	height: 35px;
	border: none;
}
.todo{
	text-align: center;
}
.container2{
	margin: 100px auto;
	max-width: 1000px;
}
.todo__input{
	width: 700px;
	height: 40px;
	outline-style: none;
	border-radius: 2px;
	padding: 5px;
	border: 1px solid grey;
	margin: 40px 0;
	font-size: 16px;
}
.todo__button{
	background: #4871e1;
	border-radius: 3px;
	color: white;
	font-size: 13px;
	width: 90px;
	height: 40px;
	border: none;
	cursor: pointer;
}
.sort{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.sort__pic{
	display: block;
	height: 35px;
	fill: #7d7d7d;
}
.search__block{
	position: relative;
}
.search{
	width: 600px;
	height: 34px;
	outline-style: none;
	border-radius: 30px;
	padding-left: 30px;
	padding: 5px;
	border: 1px solid #dcdcdc;
	font-size: 15px;
	position: relative;
}
.search__pic{
	position: absolute;
	left: -30px;
	height: 32px;
	fill: #7d7d7d;
	padding: 0px;
}
.row{
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.date{
	text-align: center;
}
.time{
	font-size: 19px;
}
.time2{
	font-size: 17px;
}
.number{
	width: 50px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #666666;
	color: white;
	font-size: 22px;
	margin-left: 35px;
}
.task{
	position: relative;
}
.arrow__up{
	position: absolute;
	left: 10px;
	top: 5px;
	width: 15px;
	fill: #4871e1;
	stroke: #4871e1;
	cursor: pointer;
}
.arrow__down{
	position: absolute;
	left: 10px;
	top: 25px;
	width: 15px;
	fill: #4871e1;
	stroke: #4871e1;
	cursor: pointer;
}
.task__field{
	width: 600px;
	font-size: 18px;
	background: #c7ddf9;
	align-items: center;
	padding: 13px;
	margin-left: 55px;
}
.edit{
	height: 23px;
	border-radius: 50%;
	background: #0e841b;
	fill: white;
	padding: 8px;
	box-sizing: content-box;
	cursor: pointer;
	position: relative;
}
.edit__item{
	background: #e6e6e6;
	text-align: center;
	padding: 15px;
	position: absolute;
	right: 30px;
}
.edit__title{
	margin-bottom: 5px;
}
.edit__new{
	outline-style: none;
	border: none;
	font-size: 15px;
}
.edit__buttons{
	display: flex;
	justify-content: space-between;
}
.edit__cancel{
	width: 100px;
	height: 30px;
	color: #4871e1;
	outline-style: none;
	border: none;
	background: transparent;
	cursor: pointer;
}
.edit__save{
	width: 100px;
	height: 30px;
	background: #4871e1;
	outline-style: none;
	border: none;
	color: white;
	cursor: pointer;
}
.tick{
	height: 23px;
	border-radius: 50%;
	background: #4871e1;
	fill: white;
	padding: 8px;
	box-sizing: content-box;
	cursor: pointer;
}
.done{
	background: #e6e6e6;
}
.delete{
	height: 23px;
	border-radius: 50%;
	background: #4871e1;
	fill: white;
	padding: 8px;
	box-sizing: content-box;
	position: relative;
	cursor: pointer;
}
.delete__item{
	background: #e6e6e6;
	text-align: center;
	padding: 20px;
	position: absolute;
	right: 30px;
}
.delete__title{
	margin-bottom: 25px;
}
.delete__buttons{
	display: flex;
	justify-content: space-between;
}
.delete__no{
	width: 80px;
	height: 30px;
	color: #4871e1;
	outline-style: none;
	border: none;
	background: transparent;
	cursor: pointer;
}
.delete__yes{
	width: 80px;
	height: 30px;
	background: #4871e1;
	outline-style: none;
	border: none;
	color: white;
	cursor: pointer;
}

