body {
  padding: 0;
  margin: 0; }

@keyframes pop-up {
  from {
    margin-top: -50px; }
  to {
    margin-top: 0px; } }
.pop-up {
  background-color: #d267e6;
  margin-top: -50px;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: pop-up .5s ease-in; }
  .pop-up__logopic {
    width: 30px;
    height: 30px;
    fill: #db96ef;
    margin-left: 10px; }
  .pop-up__logopic:hover {
    fill: #e8a5f2; }
  .pop-up__text {
    color: white;
    font-size: 15px; }
  .pop-up__text_bold {
    color: white;
    font-size: 13px;
    font-weight: bold; }
  .pop-up__info {
    display: flex;
    align-items: center; }
  .pop-up__color {
    display: flex;
    background-color: #a230dd;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 12px 5px;
    border-radius: 5px; }
  .pop-up__color:hover {
    background-color: #b948e1; }
  .pop-up__close {
    border: none;
    width: 50px;
    height: 50px;
    background-color: #db96ef;
    display: flex;
    justify-content: center;
    align-items: center; }
  .pop-up__close:hover {
    background-color: #e8a5f2; }
  .pop-up__closepic {
    width: 12px;
    height: 12px;
    fill: #e3e3e3; }
  .pop-up__link {
    display: flex;
    text-decoration: none; }

.menu {
  display: flex;
  margin: 15px auto;
  width: 88%;
  justify-content: space-between;
  padding: 0; }
  .menu__logo {
    display: flex;
    align-items: center; }
  .menu__logopic {
    width: 40px;
    height: 40px;
    fill: #009a9a; }
  .menu__logotext {
    text-align: center;
    margin-left: 5px; }
  .menu__logoupper {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    color: #009a9a;
    width: 95px;
    padding: 0; }
  .menu__logoletters {
    margin: 0;
    line-height: .9; }
  .menu__logodown {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #009a9a;
    font-size: 11px;
    font-weight: bold; }
  .menu__list {
    width: 305px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; }
  .menu__link {
    text-decoration: none;
    font-size: 20px;
    color: #009a9a;
    line-height: .8; }
  .menu__link:hover {
    color: #40b5ff;
    text-decoration: underline; }

body {
  font-family: Geneva, Arial, Helvetica, sans-serif; }

.container {
  width: 90%;
  margin: 35px auto;
  display: flex;
  justify-content: space-between; }
  .container__left {
    width: 65%; }
  .container__right {
    width: 30%;
    text-align: center;
    padding-left: 10px; }

.main__title {
  text-align: center;
  font-size: 24px;
  color: #009a9a;
  margin-bottom: 48px; }
  .main__title-small {
    font-size: 18px; }
  .main__title-grey {
    color: #818181;
    margin-bottom: 0; }
.main__link {
  text-decoration: none;
  font-size: 16px;
  color: #009a9a;
  font-weight: bold; }
.main__link:hover {
  color: #40b5ff;
  text-decoration: underline; }
.main__par {
  line-height: .5; }
.main__container {
  text-align: right;
  margin-top: 43px; }
.main__info {
  color: #818181;
  font-size: 17px;
  font-weight: bold; }
.main__text {
  font-size: 17px;
  text-align: left;
  line-height: 2;
  margin-bottom: 0;
  margin-top: 0; }
  .main__text_margin {
    margin-top: 70px; }
.main__input {
  font-size: 17px;
  width: 160px;
  border-radius: 2px;
  border: 1px solid grey; }
.main__item {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.main__buttons {
  text-align: center; }
.main__check {
  width: 52px;
  background-color: #dfdfdf;
  height: 24px;
  border: 1px solid #626262;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .main__check:hover {
    background-color: #a7f4ff;
    border: 1px solid #4abae6; }
.main__show {
  width: 52px;
  background-color: #dfdfdf;
  height: 24px;
  border: 1px solid #626262;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .main__show:hover {
    background-color: #a7f4ff;
    border: 1px solid #4abae6; }
.main__correct {
  text-align: left; }
.main__answer {
  color: #887684;
  font-size: 17px;
  margin-top: 5px;
  display: inline-block; }
.main__ans {
  color: #887684;
  font-size: 17px; }
.main__tick {
  width: 22px;
  height: 22px; }
.main__cross {
  width: 17px;
  height: 17px; }
.main__course {
  margin: 20px 25px 60px 0; }
.main__yana {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 20px; }
.main__form {
  width: 340px;
  height: 600px;
  background-color: #f9fafb;
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  margin: 20px 0 20px 0;
  padding: 25px 0px; }

.form__title {
  font-weight: bold;
  font-size: 25px; }
.form__text {
  font-size: 19px;
  padding: 5px 25px;
  line-height: 1.5; }
  .form__text_small {
    font-size: 10px;
    margin-top: 20px; }
.form__input {
  width: 260px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #dbdbdb;
  font-size: 15px;
  padding: 0 10px;
  color: #292929; }
  .form__input::placeholder {
    color: #292929; }
.form__select {
  width: 283px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #dbdbdb;
  font-size: 15px;
  padding: 0 10px;
  color: #292929;
  margin: 15px 0; }
.form__button {
  width: 260px;
  height: 45px;
  background-color: #009a9a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  padding: 0px 8px;
  margin: 10px auto;
  cursor: pointer;
  border: none; }

.hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
